.P-financial {
  .P-financial-header {
    background: #00836d;

    * {
      color: #ffffff;
    }
    .P-financial-border {
      border: 1.5px solid #2da893;
    }
  }
  .G-solution-tab {
    padding: 20px !important;
  }
}
