@import "flex";
@import "normalize";
@import "global";
@import "variables";
@import "mixin";
@import "solutions";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$FiraGO-Bold: "FiraGO-Bold";
$FiraGO-Book: "FiraGO-Book";
$FiraGO-Eight: "FiraGO-Eight";
$FiraGO-ExtraBold: "FiraGO-ExtraBold";
$FiraGO-ExtraLight: "FiraGO-ExtraLight";
$FiraGO-Four: "FiraGO-Four";
$FiraGO-Hair: "FiraGO-Hair";
$FiraGO-Heavy: "FiraGO-Heavy";
$FiraGO-Light: "FiraGO-Light";
$FiraGO-Medium: "FiraGO-Medium";
$FiraGO-Regular: "FiraGO-Regular";
$FiraGO-SemiBold: "FiraGO-SemiBold";
$FiraGO-Thin: "FiraGO-Thin";
$FiraGO-Two: "FiraGO-Two";
$FiraGO-UltraLight: "FiraGO-UltraLight";

$font-path-FiraGO: "../../assets/fonts/firago/";
$list-FiraGO: [$FiraGO-Bold, $FiraGO-Book, $FiraGO-Eight, $FiraGO-ExtraBold,
  $FiraGO-ExtraLight, $FiraGO-Four, $FiraGO-Hair, $FiraGO-Heavy, $FiraGO-Light,
  $FiraGO-Medium, $FiraGO-Regular, $FiraGO-SemiBold, $FiraGO-Thin, $FiraGO-Two,
  $FiraGO-UltraLight, $FiraGO-Regular];

@each $name in $list-FiraGO {
  $src: $font-path-FiraGO + $name;

  @font-face {
    src: url($src + ".otf") format("truetype");
    font-family: $name;
  }
}

html[lang=ru] * {
  font-family: "FiraGO-Regular";
}
* {
  font-family: 'Poppins', sans-serif;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.P-icons {
  img {
    cursor: pointer;
  }
}
