.P-sportsbook {
  .P-sportsbook-header {
    background: #964ecf;

    * {
      color: #ffffff;
    }
    .P-sportsbook-border {
      border: 1.5px solid #ae8b25;
    }
  }
  .G-solution-tab {
    padding: 34px !important;
  }
}
