.P-sportsbook {
  .P-sportsbook-header {
    background: #964ecf;

    * {
      color: #ffffff;
    }

    img {
      width: 355px;
      height: 355px;
    }

    .P-sportsbook-border {
      border: 2px solid #ae8b25;
    }
  }
  .G-solution-tab {
    padding: 34px !important;
  }
}
