.P-website {
  .P-website-header {
    background: #ffcd3a;

    * {
      color: #23232f;

    }
<<<<<<< HEAD

=======
>>>>>>> 9444585a40ebb3f1dceede8d9029cf775b02c5ac
    .P-website-border {
      border: 2px solid #ae8b25;
    }
  }
<<<<<<< HEAD

  .G-solution-tab {
    padding: 34px !important;
  }

  .P-website-border {
    border: 2px solid #ae8b25;

    * {
      color: #23232f;
    }
  }
=======
  .G-solution-tab {
    padding: 34px !important;
  }
>>>>>>> 9444585a40ebb3f1dceede8d9029cf775b02c5ac
}
