.P-fraud {
  .P-fraud-header {
    background: #e95642;

    * {
      color: #ffffff;
    }
    .P-fraud-border {
      border: 1.5px solid #ae8b25;
    }
  }
  .G-solution-tab {
    padding: 34px !important;
  }
}
