.P-product {
  .P-product-header {
    background: #d6d5d5;

    * {
      color: #23232f;
    }
    h3 {
      width: 100% !important;
    }
    .P-product-border {
      border: 2px solid #afafaf;
    }
  }
  .G-solution-tab {
    padding: 24px !important;
  }
}
