.P-design {
  .P-design-header {
    background: #ec80ec;

    * {
      color: #ffffff;
    }
    .P-design-border {
      border: 1.5px solid #ffc2ff;
    }
  }
  .G-solution-tab {
    padding: 34px !important;
  }
}
