@import "src/assets/style/index.scss";
.P-header {
  padding: 40px 0 40px;
  @include screen-max-width-991 {
    padding: 20px 0;
  }
  width: 100%;
  z-index: 9999;
  * {
    color: #23232f;
    cursor: pointer;
    font-size: 14px;
  }
  .P-menu {
    gap: 100px;
    z-index: 9999;
    .P-navigation {
      gap: 48px;
      .P-dropdown {
        position: relative;
        .P-options {
          background: #ffffff;
          margin-top: 15px;
          width: fit-content;
          max-height: 0;
          position: absolute;
          white-space: nowrap;
          transition: all 0.4s ease-in-out;
          box-sizing: border-box;
          border: 0px solid #dbdbdb;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          left: 0;
          ul {
            display: block;
            transition: all 0.4s ease-in-out;
            max-height: 0;
            overflow: hidden;
            width: fit-content;

            li {
              margin: 3px auto;
            }
          }
        }
        .P-options.active {
          max-height: 250px;
          padding: 15px;
          border-width: 1px;
          ul {
            max-height: 250px;
          }
          // &:before {
          //   content: "\25B2";
          //   color: #ffffff;
          //   position: absolute;
          //   z-index: 1;
          //   top: -14px;
          //   right: 0;
          //   left: 60%;
          // }
        }
      }
    }
  }
  .P-mobile-menu.active {
    left: 0;
  }
  .P-mobile-menu {
    position: fixed;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #0148ff;
    padding: 20px;
    padding-right: 0;
    overflow-y: auto;
    * {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
    }

    .P-selector {
      ul {
        background: #0148ff !important;
        * {
          font-size: 20px;
        }
      }
    }
    * {
      color: white;
    }
    .P-top {
      position: fixed;
      width: calc(100% - 40px);

      top: 0px;
      height: 25px;
      padding: 0 20px 0 0;
      margin: 20px;
      align-items: center;
    }
    .P-nav {
      height: calc(100% - 25px);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 108px;
      .P-navigation {
        margin-bottom: 40px;
      }
      a {
        margin-top: 40px;
      }
      li a {
        margin-top: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        text-align: center;

        color: #ffffff;
      }
      .P-dropdown {
        position: relative;
        .P-options {
          width: 100%;
          max-height: 0;
          white-space: nowrap;
          transition: all 0.4s ease-in-out;
          border-radius: 15px;
          right: -100%;
          //   box-shadow: 0px 0px 150px 13px rgba(0, 0, 0, 0.1);
          ul {
            display: block;
            transition: all 0.4s ease-in-out;
            max-height: 0;
            overflow: hidden;
            width: fit-content;
            li {
              margin: 3px auto;
            }
          }
        }
        .P-options.active {
          max-height: 350px;
          padding: 15px;
          ul {
            max-height: 350px;
          }
        }
      }
    }
  }
  .P-language-bar {
    width: 80px;
    .P-selector {
      position: relative;
      ul {
        position: absolute;
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 0.4s ease-in-out;
        max-height: 0;
        overflow: hidden;
        width: fit-content;
        border: 0px solid #dbdbdb;
      }
      ul.active {
        border-width: 1px;
        max-height: 80px;
        padding: 10px;
      }
    }
  }
}
