@import "src/assets/style/index.scss";

.P-NewsSecition {
  .P-slider-section {
    background: #f5f5f7;
    padding-bottom: 90px;
    padding-top: 20px;
    @include screen-max-width-991 {
      padding-bottom: 25px;
    }
  }
  .P-slider-header {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    h5 {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      color: #23232f;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      color: #434353;
    }
  }
  .P-lastNews {
    padding-bottom: 90px;
  }
  .G-flex {
    gap: 30px;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #23232f;
    margin-bottom: 32px;
  }
  .slick-dots li button {
    min-width: auto;
    min-height: auto;
  }
  button {
    min-width: 252px;
    min-height: 40px;
    padding: 10px;
    background: #0148ff;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 40px;
    a {
      color: #ffffff;
    }
  }
}
